In [ ]:
#1)Write a Python program to loop through all the elements in a list
#Ex:
#Input: [1,2,3,4,5,6]
#Output:
#1
#2
#3
#4
#5
#6

In [ ]:
my_list=[1,2,3,4,5,6]
for element in my_list:
  print(element)

1
2
3
4
5
6

In [ ]:
#2)Write a Python program where you will ask the users to insert elements in a list

In [ ]:
my_list=[]
while True:
   element=input("Enter an element to add to the list(or'done to finish):")

   if element=='done':
    break
   my_list.append(element)
print("final list.",my_list)

Enter an element to add to the list(or'done to finish):22
Enter an element to add to the list(or'done to finish):33
Enter an element to add to the list(or'done to finish):44
Enter an element to add to the list(or'done to finish):55
Enter an element to add to the list(or'done to finish):done
final list. ['22', '33', '44', '55']

In [ ]:
#3)Write a Python program to remove all the odd index value from a list and only even index elements should remain
#Ex:
#Input: [1,2,3,4,5,6,7,”a”]
#Output: [1,3,5,7]

In [ ]:
input_list=[1,2,3,4,5,6,7,"a"]
output_list=[]
for index in range(len(input_list)):
   if index%2==0:
     output_list.append(input_list[index])
print("Output:",output_list)

Output: [1, 3, 5, 7]

In [ ]:
#4) Write a Python program to sum and multiply all the items in a list
#Ex:
#Input: [1,2,3,4]
#Output: sum: -10
 #Product: -24

In [ ]:
my_list=[1,2,3,4]
sum_result=sum(my_list)
product_result=1

for item in my_list:
     product_result*=item
print("Sum:",sum_result)
print("Product:",product_result)

Sum: 10
Product: 24

In [ ]:
#5)Write a Python program to get the maximum and minimum numbers from a list
#Ex:
#Input: [8,4,11,7,90]
#Output: max: - 90
 #Min: - 4
#

In [ ]:
my_list=[8,4,11,7,90]
max_number=max(my_list)
min_number=min(my_list)
print("Max:",max_number)
print("Min:",min_number)

Max: 90
Min: 4

In [ ]:
#6)Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
#Ex:
#Input: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Output: ['Green', 'White', 'Black']

In [ ]:
my_list=['Red','Green', 'White', 'Black', 'Pink', 'Yellow']
indices_to_remove=[0,4,5]
new_list=[item for index,item in enumerate(my_list)if index not in indices_to_remove]
print(new_list)

['Green', 'White', 'Black']

In [ ]:
#7)Write a Python program to convert a list of characters into a string

In [ ]:
char_list=['H','e','l','l','o']
string=''.join(char_list)
print(string)

Hello

In [ ]:
#8) Write a Python program to compute average of given lists.

In [ ]:
numbers = [30, 55, 3, 10, 2]

average = sum(numbers)/len(numbers)

print("Average of list: ", round(average,3))

Average of list:  20.0

In [ ]:
# 9)Write a Python program to count integer in a given mixed list.
#Ex:
#Input: [10, “a”,2,3,5.5,1.34,” Abc”,” rt”]
#Output: Number of integers in the list:

In [ ]:
mixed_list=[10,"a",2,3,5.5,1.34,"Abc","rt"]
count=sum(isinstance(item,int)for item in mixed_list)
print( "Number of integers in the list:",count)

Number of integers in the list: 3

In [ ]:
# 10)Write a Python program to reverse the list

In [ ]:
my_list=[1,2,3,4,5]
reversed_list=my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
# 11 Write a Python program convert a given string to a tuple
#Ex:
#Input: “python1.2”
#Output: (“p”,” y”,”t”,”h”,” o”,” n”,”1”,”.”,”2”)

In [ ]:
def string_to_tuple(input_string):
    char_list = [char for char in input_string]
    char_tuple = tuple(char_list)
    return char_tuple

input_string = "python1.2"
output_tuple = string_to_tuple(input_string)
print(output_tuple)

('p', 'y', 't', 'h', 'o', 'n', '1', '.', '2')